@charset "UTF-8";
body{
    background-color: darkgrey;
    display: grid;
    place-items: center;
}
h1{
    text-align: center;
}

p{
    text-align: center;
}

a{
    color: rgb(255, 255, 255);
    text-decoration: none;
    text-align: center;
}

iframe{
    display: block;
    margin: auto;
}
