@charset "UTF-8";

*{
    font-family: 'Courier New', Courier, monospace;
}

body{
    background-image: url(../imagens/back-print.jpg); /*DESNECESSÁRIO POIS NÃO SE IMPRIME BACKGROUND DE SITES*/
}

main{
    width: 90vw;
    border: 2px solid black;
}

main::after{
    content: 'Essa impressão foi retirada do site www.globo.com';
    text-decoration: overline;
    display: block;
    text-align: center;
    
}

main h1{
    text-shadow: none;
    color: black;
}


img#telefone{display: none;}
img#tablet{display: none;}
img#impressora{display: block;}
img#pc{display: none;}
img#tv{display: none;}