@charset "UTF-8";

body{
    background-image: url(../imagens/back-tablet.jpg)
}

img#telefone{display: none;}
img#tablet{display: block;}
img#impressora{display: none;}
img#pc{display: none;}
img#tv{display: none;}